
  <div class="yoo-sidebarheader yoo-white-bg">
    <div class="yoo-add">
      <div class="yoo-add-in">
        <a target="_blank" rel="noopener noreferrer" 
        href="https://github.com/MinLee0210/NeuralNotes.git">NeuralNotes</a>
      </div>
    </div>

    <div class="yoo-sidebarheader-in" data-scrollbar>
      <div class="yoo-sidebar-nav">
        <ul class="yoo-sidebar-nav-list yoo-mp0">
          <li class="active">
            <a href="/">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon"><i class="material-icons-outlined">dashboard</i></span>
                <span class="yoo-sidebar-link-text">Dashboard</span>
              </span>
            </a>
          </li>
          <!-- <li>
            <a href="/profile-settings.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon"><i class="material-icons-outlined">settings</i></span>
                <span class="yoo-sidebar-link-text">Profile Settings</span>
              </span>
            </a>
          </li> -->
          <!-- <li>
            <a href="/calendar.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon"><i class="material-icons-outlined">event_note</i></span>
                <span class="yoo-sidebar-link-text">Calender</span>
              </span>
            </a>
          </li> -->
          <li class="yoo-sidebar-has-children">
            <a href="#">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon"><i class="material-icons-outlined">account_circle</i></span>
                <span class="yoo-sidebar-link-text">Sign In/Sign Up</span>
              </span>
            </a>
            <ul class="yoo-sidebar-nav-dropdown">
              <li>
                <a href="/signin">
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Sign In</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/signup">
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Sign Up</span>
                  </span>
                </a>
              </li>
            </ul><!-- .yoo-sidebar-nav-dropdown -->
          </li>
          <li>
            <a href="/signout">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon"><i class="material-icons-outlined">directions_run</i></span>
                <span class="yoo-sidebar-link-text">Logout</span>
              </span>
            </a>
          </li>

        </ul><!-- .yoo-sidebar-nav-list -->
      </div>
    </div>
  </div><!-- .yoo-sidebarheader -->
