{% extends "layouts/base.html" %}

{% block title %} Gallery {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
    <div class="yoo-content yoo-style1">

        <div class="yoo-height-b30 yoo-height-lg-b30"></div>

        <div class="container-fluid">

            <div class="row">
            <div class="col-lg-12">
                <div class="yoo-sectin-heading yoo-style1">
                <div class="yoo-sectin-heading-left">
                    <h2 class="yoo-section-title">Listening Samples</h2>
                    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                    <div class="yoo-section-sub-title">
                    <h3>SAMPLE 01</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Original</th>
                                <th>
                                <midi-player
                                    src="https://localhost:8000/gallery/id1_bar79_orig.mid"
                                    sound-font visualizer="#myVisualizer">
                                </midi-player>
                            </th>
                            </tr>
                            <tr>
                                <th>Generation sample 01</th>
                                <th>
                                    <midi-player
                                    src="https://localhost:8000/gallery/id1_bar79_sample01_poly+2_rhym+2.mid"
                                    sound-font visualizer="#myVisualizer">
                                </midi-player>
                                </th>
                            </tr>
                            <tr>
                                <th>Generation sample 02</th>
                                <th>
                                    <midi-player
                                    src="https://localhost:8000/gallery/id1_bar79_sample02_poly+3_rhym+2.mid"
                                    sound-font visualizer="#myVisualizer">
                                </midi-player>
                                </th>
                            </tr>
                            <tr>
                                <th>Generation sample 03</th>
                                <th>
                                    <midi-player
                                    src="https://localhost:8000/gallery/id1_bar79_sample03_poly+0_rhym+3.mid"
                                    sound-font visualizer="#myVisualizer">
                                </midi-player>
                                </th>
                            </tr>
                            <tr>
                                <th>Generation sample 04</th>
                                <th>
                                    <midi-player
                                    src="https://localhost:8000/gallery/id1_bar79_sample04_poly+1_rhym+2.mid"
                                    sound-font visualizer="#myVisualizer">
                                </midi-player>
                                </th>
                            </tr>
                            <tr>
                                <th>Generation sample 05</th>
                                <th>
                                    <midi-player
                                    src="https://localhost:8000/gallery/id1_bar79_sample04_poly+1_rhym+2.mid"
                                    sound-font visualizer="#myVisualizer">
                                </midi-player>
                                </th>
                            </tr>  
                        </thead>
                    </table>
                    </div>

                    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                    <div class="yoo-section-sub-title">
                        <h3>SAMPLE 02</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Original</th>
                                    <th>
                                    <midi-player
                                        src="https://localhost:8000/gallery/id2_bar80_orig.mid"
                                        sound-font visualizer="#myVisualizer">
                                    </midi-player>
                                </th>
                                </tr>
                                <tr>
                                    <th>Generation sample 01</th>
                                    <th>
                                        <midi-player
                                        src="https://localhost:8000/gallery/id2_bar80_sample01_poly+3_rhym+1.mid"
                                        sound-font visualizer="#myVisualizer">
                                    </midi-player>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Generation sample 02</th>
                                    <th>
                                        <midi-player
                                        src="https://localhost:8000/gallery/id2_bar80_sample02_poly+0_rhym+1.mid"
                                        sound-font visualizer="#myVisualizer">
                                    </midi-player>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Generation sample 03</th>
                                    <th>
                                        <midi-player
                                        src="https://localhost:8000/gallery/id2_bar80_sample03_poly+1_rhym+3.mid"
                                        sound-font visualizer="#myVisualizer">
                                    </midi-player>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Generation sample 04</th>
                                    <th>
                                        <midi-player
                                        src="https://localhost:8000/gallery/id2_bar80_sample04_poly+3_rhym-2.mid"
                                        sound-font visualizer="#myVisualizer">
                                    </midi-player>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Generation sample 05</th>
                                    <th>
                                        <midi-player
                                        src="https://localhost:8000/gallery/id2_bar80_sample05_poly-1_rhym-1.mid"
                                        sound-font visualizer="#myVisualizer">
                                    </midi-player>
                                    </th>
                                </tr>

                            </thead>
                        </table>
                        </div>

                        <div class="yoo-height-b30 yoo-height-lg-b30"></div>
                        <div class="yoo-section-sub-title">
                            <h3>SAMPLE 03</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Original</th>
                                        <th>
                                        <midi-player
                                            src="https://localhost:8000/gallery/id0_bar88_orig.mid"
                                            sound-font visualizer="#myVisualizer">
                                        </midi-player>
                                    </th>
                                    </tr>
                                    <tr>
                                        <th>Generation sample 01</th>
                                        <th>
                                            <midi-player
                                            src="https://localhost:8000/gallery/id0_bar88_sample02_poly+1_rhym-1.mid"
                                            sound-font visualizer="#myVisualizer">
                                        </midi-player>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Generation sample 02</th>
                                        <th>
                                            <midi-player
                                            src="https://localhost:8000/gallery/id0_bar88_sample01_poly+2_rhym-3.mid"
                                            sound-font visualizer="#myVisualizer">
                                        </midi-player>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Generation sample 03</th>
                                        <th>
                                            <midi-player
                                            src="https://localhost:8000/gallery/id0_bar88_sample03_poly+1_rhym-1.mid"
                                            sound-font visualizer="#myVisualizer">
                                        </midi-player>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Generation sample 04</th>
                                        <th>
                                            <midi-player
                                            src="https://localhost:8000/gallery/id0_bar88_sample04_poly+0_rhym+3.mid"
                                            sound-font visualizer="#myVisualizer">
                                        </midi-player>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Generation sample 05</th>
                                        <th>
                                            <midi-player
                                            src="https://localhost:8000/gallery/id0_bar88_sample05_poly-1_rhym+3.mid"
                                            sound-font visualizer="#myVisualizer">
                                        </midi-player>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            </div>                 
                </div>
                </div>
                <div class="yoo-height-b30 yoo-height-lg-b30"></div>
            </div>
            </div>
            <div class="yoo-height-b30 yoo-height-lg-b30"></div>
        </div>

        <div class="yoo-height-b60 yoo-height-lg-b60"></div>

        {% include 'includes/footer.html' %}

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
{% endblock javascripts %}
